<%- include('./common/head'); %>
<header>

    <script type="text/javascript">
      function loadURL(marker) {
          return function () {
              window.location.href = marker.url;
          }
      }

      function initMap() {
        var patients = <%- JSON.stringify(patients.map(p => ({lat: p.lat, lng: p.lng, patient: p.username}))) %>
        const map = new google.maps.Map(document.getElementById("map"), {
            center: { lat: 60.1282, lng: 18.6535 },
            zoom: 5,
          });
        patients.forEach((p) => {
          const marker = new google.maps.Marker({
            position: p,
            map,
            title: p.patient,
            url: "/researcher#" + p.patient
          });
          google.maps.event.addListener(marker, 'click', loadURL(marker));

        });
      }
    </script>
      <%- include('./common/navbar', {user: user}); %>
      <script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_API_KEY %>&callback=initMap"></script>
  
</header>
<body>
    <%- include('./common/map', {latitudes: []}); %>
    <%- include('./common/patient-data', {patients: patients}); %>
    <%- include('./common/rss-feed', {feed: feed}); %>

</body>